html{
font-family: monospace;
border: #fca311 solid;
}
h1{
font-family: monospace;
text-align: center;
text-shadow: 1px 1px 1px red, 2px 2px 1px red;
}
.head{
border-bottom: #fca311 solid;
}
body {
background-color: #000000;
color:#fca311;
}
.sai{
font-size: 22px;
text-align: center;
}
a:link {
	color: #fca311;
}
a:visited {
color: #fca311;
}
a:hover {
color: #e5e5e5;
}
a:active {
color: #fca311;
}
.nava{
text-align: center;
font-size: 18px;
}
#sam{
font-size: 20px;
border-bottom: #fca311 dashed;
}
#ff{
font-size: 20px;
border-bottom: #fca311 dashed;
}